.sub-header {
  text-align: center;
}

.input {
  padding: 5px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-right: 5px;
}

.add-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.add-button:hover {
  cursor: pointer;
}

.add-button:active {
  background-color: lightgrey;
}
